<!DOCTYPE html>
<html lang="en-US" dir="ltr" itemtype="http://schema.org/WebPage">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6073JFLJFZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6073JFLJFZ');
</script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="strict-origin-when-cross-origin">
  <meta property="og:title" content="QkRes Technologies and Research Services - Consultancy">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://qkres.com/consultancy">
  <meta property="og:description" content="
   Many Innovative Ideas struck at some point as they don't know how to proceed further. They either need some expert advice or need some assistance in their product development.
   We at Qkres will help you out in both these ways. We provide consultancy for Product Development and Project">
  <meta name="name" content="QkRes Technologies and Research Services - Consultancy">
  <meta name="description" content="
   Many Innovative Ideas struck at some point as they don't know how to proceed further. They either need some expert advice or need some assistance in their product development.
   We at Qkres will help you out in both these ways. We provide consultancy for Product Development and Project">
   <meta name="keywords" content="qkres consultancy firm,qkres consultation,qkres advisory services,chennai,iitm,IITM">
   <meta name="url" content="https://qkres.com/consultancy">
  <title>QkRes Technologies and Research Services - Consultancy</title>
  <link rel="canonical" href="https://qkres.com/consultancy"/>
  <!-- css -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="stylesheet" href="/CSS/bsopp.css">
  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Yusei+Magic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Merriweather:ital,wght@0,700;1,900&family=Poppins&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/89e9116ed8.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
<%- include("../views/navbar.ejs") %>
<section id="first">
  <div class="row">
    <div class="col-lg-6 part-1">
 <h1 id="conh1" style="font-family: 'EB Garamond';"><%= data.name %></h1>
    </div>
    <div class="col-lg-6 part-2">
<img id="Bimg" src="<%=data.image%>" alt="qkres consultancy services image">
    </div>
  </div>
</section>
<section id="second">
  <h1 style="display: flex;justify-content: center;margin-bottom: 10px;font-family: 'Yusei Magic';">Your problem is our problem </h1>
 <div id="seconddiv" class="row">
   <div class="col-lg-6 imgCenter">
     <img class="Bimg1" src="/images/consultancy/consult2.svg" alt="qkres consultancy services image">
   </div>
  <div class="ssdid col-lg-6">
    <h3 style="display: none;">qkres consultancy,qkres Consultation</h3>

   <p>
    Many Innovative Ideas struck at some point as they don't know how to proceed further. They either need some expert advice or need some assistance in their product development.
    </p>
    <p>
      We at Qkres will help you out in both these ways. We provide consultancy for Product Development and Project Innovation.
    </p>
  </div>
  
  <h3 style="display: none;">consultancy,consulation,advisory services</h3>

 </div>
 
  </div>
  
 </section> 
 <h3 style="display: none;">qkres,Best consultancy services in chennai</h3>
 <section id="third">
  <h2 style="display: flex;justify-content: center;margin-bottom: 10px;">Let's Do it</h2>
  <div id="thirddiv" class="row">
  <div class="col-lg-6 thirdinnerdiv" style="display: flex;flex-direction: column;">
<p style="display: block;">We support the idea of every individual and will try to make it successful with the help of our team and resources. We help you to build your prototype ensuring the confidentiality of your idea</p>

  <a class="btn btn-lg coButton my-2"  href="<%=data.link%>/<%=data._id%>">Submit your requirement</a>
  </div>
  <div class="col-lg-6 imgCenter">
    <img  class="Bimg1" src="/images/consultancy/consult3.svg" alt="qkres consultancy services image">
  </div>
  </div>
  <h2 style="display: flex;justify-content: center;margin-bottom: 10px;font-family:'Courgette',sans-serif;">We are happy to serve you.</h2>

</section>
<section class="consultancy-section">
  <h4 style="font-family: 'Lato';">Got Doubt ?</h4>
  <p>We are here to clear your doubts.</p>
  <a target="_blank" class="btn btn-lg btn-outline-primary my-2" href="https://forms.gle/ezhxc3spu5izrnG9A">Submit your Query</a>
</section>
 
  <%- include("../views/footer.ejs") %>

  <h3 style="display: none;">qkres, consultancy services at economical prices</h3>


</body>

</html>
